h1 {
    color:blueviolet
}
p {
    font-size: large;
}
.highlight {
    background-color: orange;
}
#main title {
    text-decoration-color: aquamarine;
}
#special paragraph {
font-style: italic;
}
ul {
font-style: oblique;
text-decoration: dashed;
}

    
div {
    background-color: pink;
}