div {
    border: 2px solid #000;
    display: block;
    margin-bottom: 2em;
}

.uniform-padding {
    padding: 20px;
}
.non-uniform-padding {
    padding: 10px 30px 20px 40px;
}
.percetage-padding {
    padding: 5%;
}
