div {
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  border: 1px solid gray;
  margin: 20px 50px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.sizeup {
    font-size: xx-large;
}
.i-style {
    font-style: oblique;
}
.margin, .sizeup {
    margin: 0px;
    padding: 0px;
}