a {
    color: inherit;
    text-decoration: none;
}
h2 {
    font-size: 1.2em;
    margin: 0px;
}
.button {
    border-radius: 5px;
    background: grey;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px 5px;
    font-size: 0.7rem;
    border: 1px solid grey;
}
.button:first-child {
   
    margin-left: 0px;
}
.primary {
    background-color: orange;
}
.secondary {
    background-color: yellow;
}
.outline {
    background-color: aliceblue;
}